
.border-text {
    letter-spacing: 0;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #010d0d;
    color: transparent !important;
    margin-bottom: 10px;
}

.subtitle {
    position: relative;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 600;
    color: #424242;
    letter-spacing: 2px;
    padding-left: 40px;
}


.text-right {
    text-align: right !important;
}

.text-center {
    text-align: center !important;
}

.text-left {
    text-align: left !important;
}




