@font-face {
    font-family: "Glacial Indifference";
    src: url("/resources/css/fonts/GlacialIndifference-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/resources/css/fonts/GlacialIndifference-Bold.otf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Glacial Indifference";
    src: url("/resources/css/fonts/GlacialIndifference-Italic.otf") format("opentype");
    font-weight: normal;
    font-style: italic;
}
