/* Custom
==================================== */
@import "./partials/custom/swiper.css";
@import "./partials/custom/mapbox.css";
@import "./partials/custom/fancybox.css";


.text {
    @apply w-full text-base leading-[22px];
    @apply text-main;
}

.text a {
    @apply underline text-primary hover:text-primary hover:underline;
}

a,
a:hover {
    @apply text-inherit no-underline;
}

/* After 992px */
@media (max-width: 992px) {
    .text-right .subtitle {
        @apply pr-10 before:left-0 before:right-auto;
    }
}


/* After 768px */
@media (max-width: 768px) {
    .h1 .border-text,
    h1 .border-text,
    .h2 .border-text,
    h2 .border-text,
    .h3 .border-text,
    h3 .border-text,
    .h4 .border-text,
    h4 .border-text,
    .h5 .border-text,
    h5 .border-text,
    .h6 .border-text,
    h6 .border-text {
        @apply tracking-[-1px] text-inherit;
        -webkit-text-stroke-width: 0;
        -moz-text-stroke-width: 0;
        -webkit-text-stroke-color: inherit;
        -moz-text-stroke-color: inherit;
    }
}


/**,*/
/**:after,*/
/**:before {*/
/*    @apply box-border;*/
/*}*/

*:focus {
    outline: inherit;
}

.container {
    @apply relative;
}

body {
    font-family: "Glacial Indifference", sans-serif;
}


.magnetic-link {
    @apply pointer-events-auto duration-300 ease-in-out w-[100px] h-[75px] flex relative justify-center items-center float-left z-10 cursor-pointer rounded-[50%];
}


.video-cover-frame .play-button a i {
    text-shadow: 0 0 40px rgba(247, 248, 250, 0.5);
}


@media only screen and (min-width: 1024px) {

    .magnetic-link {
        @apply h-[100px];
    }
}


.card-category.current {
    @apply text-primary;
}


.pagination {
    @apply text-center flex justify-center z-[9999] relative mt-[100px] m-0 p-0;
}

.pagination li {
    @apply list-none w-10 h-10 mx-2.5 my-0;
}

.pagination li.active {
    @apply bg-primary;
}

.pagination li.active a {
    @apply text-highlight;
}

.pagination li a {
    @apply font-normal flex justify-center items-center w-full h-full cursor-pointer transition-[0.4s] ease-in-out;
    @apply text-main;
}

.pagination li a:hover {
    @apply text-foreground;
}

blockquote {
    @apply text-base italic relative mx-0 my-10 pl-[50px] pr-10 py-[30px] before:left-[13px] before:top-[13px] after:rotate-180 after:right-[13px] after:bottom-[13px];
    @apply text-foreground;
    background: #fcfdff;
}

blockquote:before,
blockquote:after {
    @apply absolute font-black content-["\f10d"] text-base opacity-30;
    font-family: "Font Awesome 5 Free";
}

.reviewer {
    @apply text-center w-[60px] h-[60px] object-cover object-center rounded-[50%];
}

.star-rate {
    @apply flex justify-center mt-5 m-0 p-0;
}

.star-rate li {
    @apply list-none mr-[5px];
}

.star-rate li i {
    @apply text-primary text-sm;
}

.star-rate li.empty i {
    @apply opacity-10;
    @apply text-foreground;
}

.burger span,
.burger span:after,
.burger span:before {
    @apply bg-foreground-dark  content-[""] block w-[19px] h-[0.177em] duration-300 ease-in-out rounded-[3px];
    backface-visibility: hidden;
}

.menu nav ul .menu-item.current-menu-item a {
    @apply text-primary;
}

.sub-menu a {
    @apply duration-300 ease-in-out hover:text-main uppercase text-[11px] font-semibold tracking-[2px]  text-main;
}

.sub-menu > :first-child > a {
    @apply pt-2.5;
}

.menu-item-has-children > a {
    @apply flex items-center justify-between after:font-black after:content-["\f078"] after:text-main after:text-[1rem];
    /*@apply relative cursor-pointer after:text-main after:font-black after:content-["\f078"] after:absolute after:duration-300 after:ease-in-out after:right-0 after:top-[25px];*/
}

.menu-item-has-children > a:after {
    font-family: "Font Awesome 5 Free";
}

.top-panel.sticky,
.top-panel.sticky .logo-frame,
.top-panel.sticky .menu-btn {
    @apply h-[70px];
}


.menu nav ul .menu-item a {
    @apply max-md:text-[22px];
}

.menu nav ul .menu-item.menu-item-has-children:after {
    @apply max-md:text-xs max-md:top-[17px];
}

html.is-animating body,
html.is-rendering body {
    @apply pointer-events-none;
}

html.is-animating body .ball,
html.is-rendering body .ball {
    @apply bg-transparent opacity-100;
}

html.is-animating body .ball svg,
html.is-rendering body .ball svg {
    @apply opacity-100;
}

html.is-animating body .ball svg path,
html.is-rendering body .ball svg path {
    @apply fill-primary;
}

.transition-fade {
    @apply duration-600 opacity-100 scale-100;
    filter: none;
}

.transition-fade .loading-curtain {

    @apply -translate-x-full duration-1000;
}

html.is-animating .transition-fade {
    @apply opacity-0 delay-[0.4s] scale-110;
}

html.is-animating .transition-fade .loading-curtain {
    @apply translate-x-0 duration-1000;
}

.curtain,
.loading-curtain {
    @apply absolute w-full h-full bg-[#f7f8fa] z-[1] left-0 top-0;
}


.masonry-grid {
    @apply relative overflow-hidden after:content-[''] after:block after:clear-both;
}

.grid-sizer,
.masonry-grid-item {
    @apply w-3/12;
}

.grid-3-col .grid-sizer,
.grid-3-col .masonry-grid-item {
    @apply w-[33.333%];
}

.masonry-grid > .masonry-grid-item {
    @apply pt-0;
}

.masonry-grid-item {
    @apply float-left overflow-hidden py-[30px] sm:px-[30px];
}

.masonry-grid-item-33 {
    @apply w-[33%];
}

.masonry-grid-item-50 {
    @apply w-6/12;
}

.masonry-grid-item-100 {
    @apply w-full;
}

/* Grid after 992px */
@media (max-width: 992px) {
    .grid-3-col .grid-sizer,
    .grid-3-col .masonry-grid-item {
        @apply w-6/12;
    }

    .masonry-grid-item-33 {
        @apply w-6/12;
    }

    .masonry-grid-item-50 {
        @apply w-full;
    }

    .masonry-grid-item-100 {
        @apply w-full;
    }
}

/* Grid after 768px */
@media (max-width: 768px) {
    .grid-3-col .grid-sizer,
    .grid-3-col .masonry-grid-item {
        @apply w-full;
    }

    .masonry-grid-item-33 {
        @apply w-full;
    }

    .masonry-grid-item-50 {
        @apply w-full;
    }

    .masonry-grid-item-100 {
        @apply w-full;
    }

    .filter {
        @apply text-center flex flex-col;
    }

    .filter .card-category {
        @apply mr-0 mb-5;
    }

    .filter .card-category.current {
        @apply text-[color:var(--primary)];
    }
}

.masonry-grid-item-50 .card-item .card-cover-frame {
    @apply pb-[calc(63%_+_8px)];
}

.masonry-grid-item-50.masonry-grid-item-h-x-2 .card-item .card-cover-frame {
    @apply pb-[calc(126%_+_36px)];
}

.masonry-grid-item-33 .card-item .card-cover-frame {
    @apply pb-[calc(63%_+_8px)];
}

.masonry-grid-item-33.masonry-grid-item-h-x-2 .card-item .card-cover-frame {
    @apply pb-[calc(126%_+_36px)];
}

.without-descr .masonry-grid-item-50 .card-item .card-cover-frame {
    @apply pb-[63%];
}

.without-descr .masonry-grid-item-50.masonry-grid-item-h-x-2 .card-item .card-cover-frame {
    @apply pb-[141%];
}

main > section:first-child {
    @apply pt-[140px];
}

.swiper-container {
    overflow: hidden;
}
