@import "style-light.css";

.max-w-350px {
    max-width: 350px;
}
.max-w-450px {
    max-width: 450px;
}

.mry-mx-auto {
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.max-w-450px {
    max-width: 450px;
}


body.home .mry-app {
    overflow: hidden;
}
