.fancybox-container {
    @apply w-screen h-screen;
}

.fancybox-container .fancybox-bg {
    background: #fcfdff;
}

.fancybox-slide--video {
    @apply w-full flex justify-center;
}

.fancybox-slide--video .fancybox-content {
    @apply w-4/5 bg-transparent mt-[100px];
}

.fancybox-navigation .fancybox-button--arrow_left,
.fancybox-navigation .fancybox-button--arrow_right {
    @apply text-foreground-dark p-[13px];
}

.fancybox-is-open .fancybox-bg {
    @apply opacity-100;
}

.fancybox-toolbar {
    @apply flex w-screen justify-end items-center h-[100px] z-[999999] transition-[0.4s] ease-in-out px-[30px] py-0;
    background: #f7f8fa;
}

.fancybox-toolbar .fancybox-button {
    @apply p-[9px];
    background: transparent;
    @apply text-foreground;
}

.fancybox-toolbar .fancybox-button:hover {
    @apply text-foreground;
}

.fancybox-slide--image {
    @apply pt-[130px] pb-[60px] px-0;
}

.fancybox-navigation .fancybox-button {
    @apply bg-transparent mx-[15px] my-0;
}

.fancybox-infobar {
    @apply text-xs uppercase font-bold z-[9999999999999] h-[95px] w-[100px] flex opacity-100 justify-center items-center ml-[5px] left-0 top-[5px];
}

.fancybox-progress {
    @apply z-[999999999999999999];
    background: var(--primary);
}

.fancybox-thumbs {
    @apply bg-[#fcfdff];
}

.fancybox-thumbs__list a:before {
    @apply border-[color:var(--primary)] transition-[0.4s] ease-in-out;
}

.fancybox-button[disabled] {
    @apply pointer-events-none transition-[0.4s] ease-in-out scale-0;
}

@media (max-width: 768px) {
    .fancybox-slide--video .fancybox-content {
        @apply w-full;
    }

    .fancybox-container {
        @apply w-full h-full m-0;
    }

    .fancybox-toolbar {
        @apply w-full;
    }

    .fancybox-navigation .fancybox-button {
        @apply top-auto -bottom-2.5;
    }
}
