
.map-frame {
    @apply relative overflow-hidden w-full pb-[50%];
}

.map-frame .map {
    @apply mt-[-4%] absolute w-full h-full pointer-events-none;
}

.map-frame .map.active {
    pointer-events: all;
}

.map-frame:hover .lock {
    @apply opacity-100;
}

.mapboxgl-marker:after {
    @apply absolute content-['Mireya'] tracking-[2px] translate-x-[-30%] translate-y-2.5 block text-white font-extrabold uppercase text-[10px] whitespace-nowrap text-center bg-[rgba(255,255,255,0.2)] px-2.5 py-px rounded-[10px];
}

.mapboxgl-marker svg {
    @apply animate-[marker_1s_infinite_ease-in-out] scale-[1.2];
}

.mapboxgl-marker svg g {
    @apply fill-[var(--primary)];
}

.mapboxgl-marker svg circle {
    @apply fill-[#f7f8fa];
}

.mapboxgl-marker svg ellipse {
    @apply fill-black;
}

.lock {
    @apply opacity-0 flex justify-center items-center absolute z-[9] transition-[0.4s] ease-in-out right-0 bottom-0;
    @apply text-main;
}

.lock:hover {
    @apply text-foreground;
}


@keyframes marker {
    0% {
        transform: scale(1.2) translateY(0);
    }
    50% {
        transform: scale(1.2) translateY(-10px);
    }
    0% {
        transform: scale(1.2) translateY(0);
    }
}
